<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Password Analyzer</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Analyzer</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Analyze</button>
        </form>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>